{% extends "base.html" %}
{% block content %}
<h3>Add Credit Card For Merchant</h3>
<div id="cc_div" class="modal-body">
    <form id="customer-form" name="cc_form" class="well form-horizontal">
        <div class="row-fluid"> <div class="span6"> Name:</div> <input type="text" id="name"></div>
        <div class="row-fluid"> <div class="span6"> Credit Card Number:</div><input type="text" id="credit_card"></div>
        <div class="row-fluid"> <div class="span6"> CVV:</div> <input type="text" id="cvv"></div>
        <div class="row-fluid"> <div class="span6"> Zip Code:</div><input type="text" id="zip"></div>
        <div class="row-fluid"> <div class="span6"> Expiration Date:</div>
                Month: <select class="input-mini" id="month">
                    {% for i in range(12) %}
                    <option value="{{ i + 1 }}">{{ i + 1 }}</option>
                    {% endfor %}
                </select>
                Year: <select class="input-mini" id="year">
                    {% for k in range(13, 30) %}
                    <option value="{{ k }}">{{ k }}</option>
                    {% endfor %}
                </select>
        </div>
    <div class="row-fluid"><button id="submit_btn" class="btn" type="button" onclick="sendscript()">Submit</button></div>
   </form>
<div class="modal" id="lodaing-gif"></div>
</div>
{% endblock content %}
{% block tail_script %}
<script type="text/javascript">

function nextpage(error, data){
    if(error){
        $("#cc_div").removeClass("loading");
        $("body").removeClass("loading");
    }
    else {
        window.location = '/customer_home';
    }
}

var merchant_id;
var last_four;

function callback() {
    response = get_response();
    if(merchant_id == undefined || last_four == undefined) {
        flash("Something went wrong. Please try again.", "error");
    }
    else if(response == undefined || response.result == undefined) {
        flash("Server Timeout. Please try again.");
    } else if (response.result == "DECLINED") {
        flash("Credit Card Declined", "error");
        var obj = {"result": "DECLINED"};
    } else if (response.result == "APPROVED") {
        var obj = {"paytoken": response.token,
            "merchant": merchant_id, "result": "APPROVED",
            "last_four":last_four, "amount": {{ amount }}};
    } else {
        var obj = {"result": "ERROR", "error": "invalid token"};
    }
    send("POST", '/post_cc', {}, obj, nextpage);
}

function sendscript() {
    if($("#name").val() == null ||
            $("#name").val() == ""){
        alert("Please enter the name on the card.");
        return false;
    }
    else if($("#credit_card").val().length <= 12 ||
            ! /^\d+$/.test($("#credit_card").val())){
        alert("Invalid Credit Card number. Please check to make sure it is "+
                "entered correctly.");
        return false;
    }
    else if($("#cvv").val().length != 3 ||
            ! /^\d+$/.test($("#cvv").val())){
        alert("Invalid cvv. Please make sure it is entered correctly.");
        return false;
    }
    else if($("#zip").val().length != 5 ||
            ! /^\d+$/.test($("#zip").val())){
        alert("Please enter the zip listed on your credit card.");
        return false;
    }
    var n = '{{ merchant.cc_key.n }}';
    var e = '{{ merchant.cc_key.e }}';
    merchant_id = '{{ merchant.id }}';
    var access_token = '{{ merchant.access_token }}';

    setKey(n, e);
    var credit_card = $("#credit_card").val().toString();
    last_four = credit_card.substring(credit_card.length - 4);

    $("#cc_div").addClass("loading");
    $("body").addClass("loading");
    sendInfo( credit_card, $("#name").val(), $("#cvv").val(), $("#zip").val(), 
            $("#month").val(), $("#year").val(), merchant_id, 
            '{{ merchant.prefix }}','{{ amount }}','usd','{{ orderId }}',
            access_token, callback);
    credit_card = "";
}
</script>
<script src="{{ base_url }}/web/pay-api.js"></script>
{% endblock %}
