{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">This is a customer view of the example app. Once you've linked a merchant, the customer can build an order and pay for it from here. It will then show up in the example Android app.</div>
<div class="title">
	<div class="right customer-actions top15">
		<a class="btn btn-primary" href="{{  url_for('show_qr_code')  }}">
		  Pay with My Code
		</a>
		<!-- <a class="btn btn-primary" href="{{  url_for('get_pebble_token')  }}">
		  See Pebble Token
		</a> -->
	</div>
	<h1>Your Account</h1>
</div>
<div>
    <h3>Recent Merchants</h3>
    {% if linked_merchants %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Merchant</th>
          <th>Credit Card</th>
        </tr>
      </thead>
      <tbody>
        {% for merchlink in linked_merchants %}
        <tr>
          <td>{{ merchlink.get_merchant().name }}</td>
          <td>*{{ merchlink.last_four }}</td>
          <td><form method="post" action="{{ url_for('remove_cc',
                                          merchant_id=merchlink.merchant.get().id) }}">
              <button class="btn">Remove</button>
            </form>
          </td>
          <td><form action="{{ url_for('order',
                            merchant_id=merchlink.merchant.get().id) }}">
              <button class="btn">Order Ahead</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <p>You haven't ordered from any merchants yet.</p>
    {% endif %}
    <p>
      <a class="btn btn-primary" id="relink-cc" href="{{ url_for('list_merchants')  }}">
        Order From a New Merchant
      </a>
    </p>
    <h3>Recent Payments</h3>
    {% if payments %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Amount</th>
          <th>Merchant</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payments %}
        <tr>
          <td>{{ payment.time_made }}</td>
          <td>{{ format_price(payment.amount) }}</td>
          <td>{{ payment.merchant.get().name }}</td>
          <td>
            <form action="{{ url_for('order_page', order_id=payment.order.id()) }}">
              <button class="btn">View Order</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No Recent Payments</p>
    {% endif %}

    <h3>My Reward Points</h3>
    {% if linked_merchants %}
    <ul class="dropdown-menu" role="menu">
      {% for merch_link in linked_merchants %}
      <li>
        <a tabindex="-1" href=
           "{{url_for('show_reward_points',
            merchant_id=merch_link.merchant.get().id)}}">
          {{merch_link.get_merchant().name}}
        </a>
      </li>
      {% endfor %}
    {% else %}
    <p>Start ordering from merchants to earn rewards.</p>
    {% endif %}
  </div>

</div>

{% endblock content %}