{% extends "base.html" %}

{% block head_script %}
<script type="text/javascript">
  //checks whether form values are valid
  function checkForm() {
    if(! ($("#amount_button").prop("checked") || 
      $("#order_button").prop("checked") ||
      $("#off_button").prop("checked")) ) 
    {
			flash("Please select a reward type", "error");
      return false;
    }
    var min = parseInt($("#min_price_in").val(), 10); 
    if(isNaN(min) || min < 0)
    {
			flash("Minimum price must be a positive integer", "error");
      return false;
    }
    return true;
  }

  
  //this will be called when user tries to add a new reward.
  //Do some bounds checking and if it's all ok we set the name of the 
  //reward item
  function addRewardSubmit() 
  {
    //check that cost is nonnegative
    var reward_cost = parseInt($("#reward_cost").val());
    if(isNaN(reward_cost) || reward_cost < 0)
    {
      flash("Please add points needed for your new reward.", "error");
      return false;
    } 

    //set reward_name
    $("#reward_name").val(
      $("#select_rewards").children("option").filter(":selected").text());

    return true;
  }
</script>
{% endblock %}

{% block content %}

<form action="../set_reward_props" method="POST" onSubmit="return checkForm();">
  <h1>Rewards </h1>
  <h2>Settings </h2>
  <p>
  Type:
  <br>
  <input id="amount_button" type="radio" name="reward_type" value="1">
  <label for="amount_button">Points by amount spent (1 point per cent spent)</label>
  <br>
  <input id="order_button" type="radio" name="reward_type" value="2">
    <label for="order_button">Points by number of orders (1 point per order)</label>
    <br>
  <input id="off_button" type="radio" name="reward_type" value="0">
    <label for="off_button">No rewards</label>
    <br>
  Minimum cost of order for points (if by order):
  <input id="min_price_in" type="text" name="minimum_price" class="short"
    value="{{minimum_price}}">
  <input type="hidden" name="merchant_id" value="{{merchant_id}}">
  <br>
  <input class="btn" type="submit" value="Save" >
  </p>
</form>

<form action="{{url_for('reset_rewards_merchant')}}" method="POST">
  <input class="btn" type="submit" value="Reset points">
</form>

<br>

<h2>Current Rewards</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <tr>
    </tr>
  </thead>
  <tbody>
    {% if rewards %}
      {% for reward in rewards %}
      <tr>
        <td>
          Free {{ reward.name }} 
          {% if reward.cyclic %}
          every
          {% else %}
          at 
          {% endif %}
          {{reward.cost}} point(s) 
        </td>
				<td>
          <form action="{{url_for('remove_reward_merchant')}}" method="POST"> 
            <input type="hidden" name="reward_key" 
                value="{{reward.key.urlsafe()}}">
            <input type="hidden" name="merchant_id" value="{{merchant_id}}">
            <input class="btn" type="submit" onclick="convert_key_to_json" value="Remove">
          </form>
				</td>
      </tr>
      {% endfor %}
    {% else %}
    <tr>
      <td>
        No rewards entered yet
      </td>
      <td>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<h2>Add New Reward </h2>
<form action="{{ url_for('add_reward_merchant') }}" 
    onSubmit="return addRewardSubmit();" method="POST">
		<p>
  <select id="select_rewards" name="item_id"></select>
  <input id="reward_cyclic" type="checkbox" name="cyclic"> 
  <label for="reward_cyclic">Repeating (i.e. reward at 10, 20, 30, ..)</label>
  <br>
  Points needed:  
  <input id="reward_cost" type="text" name="cost" class="short">
  <input id="reward_name" type="hidden" name="name">
  <input type="hidden" name="merchant_id" value="{{merchant_id}}">
	<br>
  <input class="btn" type="submit" value="Save">
</p>
</form>

{% endblock %}


{% block tail_script %}

<script type="text/javascript">

{% if changed is defined %}
  {% if changed %}
		flash("Settings saved", "success")
  {% endif %}
{% endif %}

  //initiate radio buttons
  function initRadioButtons()
  {
    {% if reward_type == 0 %}
    $("#off_button").prop("checked", true);
    {% elif reward_type == 1 %}
    $("#amount_button").prop("checked", true);
    {% elif reward_type == 2 %}
    $("#order_button").prop("checked", true);
    {% endif %}
  }

  /*
   * Gets items for select element. Should be loaded when document is ready
   * Items are sorted
   */
  function getItems()
  {
    //get the list of item ids for selected category
    var inventory = {{ json_inventory|safe }};
    //get items
    var items = new Array();
    for(key in inventory)
    {
      items.push(inventory[key]);
    }
    //sort them by item names
    items.sort(function(a, b) { 
      if(a["name"] > b["name"]) return 1;
      if(a["name"] == b["name"]) return 0;
      else return -1;
    });

    for(var i = 0; i < items.length; i++)
    {
      $("#select_rewards").append("<option value=" + items[i]["id"] + 
          ">" + items[i]["name"] + "</option>");
    }
  }

  //add functions to ready
$("document").ready(function() {
    initRadioButtons();
    getItems(); });
</script>

{% endblock %}
