{% block content %}
<div class="navbar navbar-inverse navbar-static-top {% if merchant_section %}merch{% else %}cust{% endif %}">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!-- <a class="brand">Clover Example App</a> -->
      <div class="nav-collapse">
        <ul class="nav right">
          <li>
            <a href="{{ url_for('customer_home') }}" class="customer-nav {% if merchant_section %}{% else %}active{% endif %}">Customer</a>
          </li>
          <li>
            <a href="{{ url_for('merchant_home') }}" class="merchant-nav {% if merchant_section %}active{% endif %}">Merchant</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar .container -->
  </div><!-- /.navbar-inner -->
</div><!-- /navbar -->

{% endblock content %}
